// Variables
$default-font-size:  1.25rem;
$color-white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$color-black: #161616 !default;



$color-primary: #8C5642!default;
$color-secondary: #A68D85;
$color-tertiary: #F2F2F2;

/* Color Theme Swatches in Hex */
$cherstb-primary-color-1-hex: #D9CAC1;
$cherstb-primary-color-2-hex: #8C5642;
$cherstb-primary-color-3-hex: #A68D85;
$cherstb-primary-color-4-hex: #8C5042;
$cherstb-primary-color-5-hex: #F2F2F2;

/* Color Theme Swatches in RGBA */
$cherstb-primary-color-1-rgba: rgba(217,202,193, 1);
$cherstb-primary-color-2-rgba: rgba(140,86,66, 1);
$cherstb-primary-color-3-rgba: rgba(166,141,133, 1);
$cherstb-primary-color-4-rgba: rgba(140,80,66, 1);
$cherstb-primary-color-5-rgba: rgba(242,242,242, 1);

/* Color Theme Swatches in HSLA */
$cherstb-primary-color-1-hsla: hsla(22, 24, 80, 1);
$cherstb-primary-color-2-hsla: hsla(16, 35, 40, 1);
$cherstb-primary-color-3-hsla: hsla(14, 15, 58, 1);
$cherstb-primary-color-4-hsla: hsla(11, 35, 40, 1);
$cherstb-primary-color-5-hsla: hsla(0, 0, 94, 1);



$color-grey: #6c757d;
$color-grey-dark-1: #555;
$color-grey-dark-2: #333;
$color-grey-dark-2: #343a40!important;

$color-grey: #ddd;
$color-grey-light-1: #f4f4f4;
$color-grey-light-2: #f8f9fa;
$color-grey-light-3: #f1f1f1;

